<ng-template #templateRef let-data>
	<div>
	  <winput
		[placeholder]="data.field.Placeholder"
		(wSubmit)="addTag(data,inputRef)"
		[label]="data.field.Label"
		#inputRef
	  ></winput>
	  <ng-container *ngFor="let tag of data.submition[data.key]; index as i">
		<span>{{tag}}</span>
		<i (click)="data.submition[data.key].splice(i, 1)">X</i>
	  </ng-container>
	  <wbutton [disableSubmit]="true" [disabled]="!inputRef.value" (click)="addTag(data,inputRef)">
		{{data.field.Button || 'Add'}}
	  </wbutton>
	</div>
</ng-template>