.material-icons {
    font-size: 24px;
    cursor: pointer;
    color: gray; /* Колір для неактивної іконки */
  }
  
  .active {
    color: blue; 
  }
  
//   .material-icons:hover {
//     color: darkblue; /* Зміна кольору при наведенні */
//   }