<div>
    <h1 (click)="isCollapsed = !isCollapsed" class="collapsible-button">
        <span>{{type==='messages'?"Messages":type==='questions'?"Questions":""}}</span>
        <i class="material-icons">{{ isCollapsed ? 'expand_less':'expand_more' }}</i>
    </h1>
    <hr/>

    <ng-container *ngIf="type==='messages'">
        <div *ngIf="isCollapsed" class="collapsible-content scrollable-container">
            <div  *ngFor="let message of messages">
                <p>{{message.text}}</p>
                <hr/>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="type==='questions'">
        <div *ngIf="isCollapsed" class="collapsible-content scrollable-container">
            <div  *ngFor="let question of questions">
                <div>
                    <!-- <h2>{{question.name}}</h2> -->
                    <p>{{question.text}}</p>
                    <div>
                        <i class="material-icons" 
                            [ngClass]="{'active': questionsLikeToggle[question._id] && questionsLikeToggle[question._id]==='like'}" 
                            (click)="LikeToggle(question._id,'like')">
                        thumb_up
                        </i>

                        <i class="material-icons" 
                            [ngClass]="{'active': questionsLikeToggle[question._id] && questionsLikeToggle[question._id]==='dislike'}" 
                            (click)="LikeToggle(question._id,'dislike')">
                        thumb_down
                        </i>
                    </div>
                </div>
                <hr/>
            </div>
        </div>
    </ng-container>
</div>
