<div class="container">
    <div class="sidebar">
        <div class="counter" (click)="OpenModalLinks()">
            <i class="material-icons">link</i>
            <span>{{links.length}}</span>
        </div>

        <div class="counter" (click)="OpenModalComment()">
            <i class="material-icons">forum</i>
            <span>{{comments.length}}</span>
        </div>

        <div class="counter" (click)="OpenModalPoll()">
            <i class="material-icons">poll</i>
            <span>{{polls.length}}</span>
        </div>

        <div class="counter" (click)="OpenModalQna()">
            <i class="material-icons">live_help</i>
            <span>{{qnas.length}}</span>
        </div>
    </div>

    <div class="content">
        <app-speaker-sessions *ngIf="!sessionId" [sessions]="sessions"/>
        <app-speaker-session *ngIf="sessionId" [session]="session"/>

        <app-notes [notes]="notes"/>
        <app-chat type="messages" [messages]="messages"/>
        <app-chat type="questions" [questions]="questions"/>

        <app-speaker-reactions [reactions]="reactions"/>
    </div>
</div>